@import "./variables/global";
@import './_mixins/fonts';

body {
  margin: 0;
  font-family: var(--font-family-main);
  font-size: 16px;
  font-weight: 400;
  color: var(--primary-color);
  background-color: var(--bg-color);
  width: 100%;
  overflow-x: hidden;
}

.content-wrapper {
  max-width: 1280px;
  padding-right: var(--wrapper-padding);
  padding-left: var(--wrapper-padding);
  margin-right: auto;
  margin-left: auto;
}

// @media (min-width: )
