@import './variables/global';
@import './_mixins/fonts';

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: var(--font-family-main);
  font-size: 16px;
  font-weight: 400;
  color: var(--primary-color);
  background-color: var(--bg-color);
  width: 100%;
  overflow-x: hidden;
}

.content-wrapper {
  max-width: 1280px;
  padding-right: var(--gap-min);
  padding-left: var(--gap-min);
  margin: 0 auto;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}
