.service-item {
  display: flex;
  align-items: center;
  width: clamp(0px, 49%, 630px);
  height: 366px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background: var(--bg-color-service-item);
  text-decoration: none;
  color: var(--text-color-opacity-09);

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: var(--gap-tiny);
  }

  &__image {
    display: flex;
    border-radius: 100%;
    border: solid 2px var(--line-color);
    align-items: center;
    justify-content: center;
    margin: 0 var(--gap-small);
    min-width: 110px;
    min-height: 110px;
  }

  &__title {
    margin-bottom: var(--gap-small);
    font: var(--font-montserrat-medium-l);
    font-size: var(--font-size-xl);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-072);
    color: var(--text-color-opacity-09);
  }

  &__paragraph {
    font-size: var(--font-size-m);
    color: var(--text-color-opacity-08);
    letter-spacing: var(--letter-spacing-016);
    font-weight: 300;
    width: 100%;
    margin-bottom: var(--gap-small);
  }

  &__details {
    font: var(--font-montserrat-medium-m);
    letter-spacing: var(--letter-spacing-048);
    font-size: var(--font-size-m);
    color: #052026;
  }

  &:hover {
    box-shadow: 0 3px 12px 0 rgb(0 0 0 / 10%);
    transform: scale(1.01);
    transition: box-shadow 150ms, transform 350ms;
  }

  &:hover .service-item__details {
    transform: translateX(15px) scale(1.1);
    transition: transform 150ms;
  }
}


@media (max-width: 1280px) {
  .service-item {
    flex-direction: column;
    justify-content: center;
    width: 490px;
    height: 438px;
  }

  .service-item__content {
    width: fit-content;
    margin-left: 35px;
    margin-right: 35px;
    gap: 10px;
  }

  .service-item__icon {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 580px) {
  .service-item {
    width: 330px;
    height: 275px;
  }

  .service-item__content {
    align-self: center;
    margin-left: var(--gap-small);
    margin-right: 0;
  }

  .service-item__image {
    min-width: 75px;
    min-height: 75px;
  }

  .service-item__icon {
    width: 35px;
    height: 35px;
  }

  .service-item__title {
    margin: 0;
    font-size: var(--font-size-m);
  }

  .service-item__paragraph {
    margin: auto;
    font-size: var(--font-size-s);
  }

  .service-item__details {
    color: #E0B15C;
    margin: 0;
    flex-shrink: 0;
    font-size: var(--font-size-s);
  }
}
