.service-item {
  display: flex;
  align-items: center;
  width: clamp(0px, 49%, 630px);
  box-sizing: border-box;
  padding-top: var(--gap-large);
  padding-bottom: var(--gap-large);
  padding-left: var(--gap-pre-big);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background: var(--bg-color-service-wrapper);
  text-decoration: none;
  color: var(--text-color-opacity-09);

  &__content {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: center;
    width: min-content;
  }

  &__image {
    display: flex;
    border-radius: 100%;
    align-self: flex-start;
    justify-content: center;
    margin-right: var(--gap-small);
  }

  &__title {
    margin-top: 0;
    margin-bottom: var(--gap-small);
    font: var(--font-montserrat-medium-l);
    font-size: var(--font-size-xl);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-072);
    color: var(--text-color-opacity-09);
    white-space: nowrap;
  }

  &__paragraph {
    font-size: var(--font-size-m);
    color: var(--text-color-opacity-08);
    letter-spacing: var(--letter-spacing-016);
    font-weight: 300;
    margin-top: 0;
    margin-bottom: var(--gap-small);
  }

  &__details {
    margin: 0;
    font: var(--font-montserrat-medium-m);
    letter-spacing: var(--letter-spacing-048);
    color: var(--details-color);
  }

  &:hover {
    box-shadow: 0 3px 12px 0 rgb(0 0 0 / 10%);
    transform: scale(1.01);
    transition: box-shadow 150ms, transform 350ms;
  }

  &:hover .service-item__details {
    transform: scale(1.1) translateX(10px);
    transition: transform 150ms;
  }
}


@media (max-width: 1280px) {
  .service-item__image {
    align-self: center;
    margin-bottom: var(--gap-small);
  }

  .service-item {
    flex-direction: column;
    width: 490px;
    padding-left: 0;
    padding-top: var(--gap-medium);
    padding-bottom: var(--gap-medium);
  }

  .service-item__content {
    align-self: center;
    gap: 10px;
  }

  .service-item__icon {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 580px) {
  .service-item {
    width: 330px;
    padding: var(--gap-small);
  }

  .service-item__content {
    align-self: start;
    margin-right: 0;
    width: auto;
  }

  .service-item__image {
    min-width: 75px;
    min-height: 75px;
    margin: 0;
  }

  .service-item__icon {
    width: 40px;
    height: 40px;
  }

  .service-item__title {
    margin: 0;
    font-size: var(--font-size-m);
    letter-spacing: var(--letter-spacing-048);
  }

  .service-item__paragraph {
    margin: auto;
    font-size: var(--font-size-s);
  }

  .service-item__details {
    color: #E0B15C;
    margin: 0;
    flex-shrink: 0;
    font-size: var(--font-size-s);
  }
}
