.services {
  padding: calc(var(--gap-huge) - var(--gap-min)) 0;
  background-color: var(--bg-secondary-color);
  flex-wrap: nowrap;

  &__title {
    text-transform: uppercase;
    font: var(--font-montserrat-medium-xl);
    font-size: clamp(20px, 3vw, 30px);
    margin-top: 0;
    margin-bottom: var(--gap-medium);
    display: flex;
    align-items: center;
    position: relative;
    margin-left: var(--gap-small);

    &::before {
      content: "";
      background: var(--line-color);
      width: clamp(2px, 0.5vw, 4px);
      position: absolute;
      height: 100%;
      left: calc(var(--gap-small) * -1);
    }
  }

  &__content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: var(--gap-min) var(--gap-min);
  }
}

@media (max-width: 1024px) {
  .services {
    flex-wrap: wrap;
    padding: var(--gap-medium) 0;
  }

  .services__content {
    flex-flow: column nowrap;
    align-items: center;
  }
}

@media (max-width: 620px) {
  .services__title {
    margin-bottom: var(--gap-small);
      margin-left: var(--gap-min);
  
    &::before {
      left: calc(var(--gap-min) * -1);
    }
  }
}
