.main-intro {
  width: 100%;
  padding: 0;
  background: url('/assets/pictures/mainPage-bg-l.jpg') top center no-repeat;
  background-size: cover;
  transition: transform 2.5s, z-index 8s;
  height: calc(100vh - var(--navbar-height));
  z-index: -1;
  position: relative;
  overflow-x: hidden;
  transform: scale(1.5);

  &_loaded {
    transform: scale(1);
    z-index: 0;
  }
}

.main-arrow {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: jump 0.8s ease 1.5s infinite alternate;

  &_loaded {
    opacity: 1;
    transition: opacity 1.5s 2.2s;
  }

  &__image:hover {
    opacity: 0.6;
    transition: opacity 350ms;
  }
}

@keyframes jump {
  from {
    bottom: 15px;
  }

  to {
    bottom: 30px;
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  margin-left: 5vw;

  &__title {
    font: var(--font-ibm-medium-xl);
    font-size: clamp(var(--font-size-l), 3vw, var(--font-size-xxl));
    line-height: 48px;
    color: var(--text-color-opacity-09);
    margin-top: 25vh;
    margin-bottom: 0;
    text-shadow: 1px 1px 2px #fff;
    opacity: 0;
  }

  &__subtitle {
    font: var(--font-montserrat-bold-l);
    font-size: clamp(var(--font-size-s), 1.5vw, var(--font-montserrat-size-l));
    color: var(--text-color-opacity-09);
    text-shadow: 1px 1px 2px #fff;
    opacity: 0;
    text-transform: uppercase;
    margin-top: clamp(0px, 1vw, 40px);
    margin-bottom: 0;
    line-height: clamp(20px, 1.5vw, 30px);
  }

  &__hidden-title-turk {
    animation: hide-title-turk 1s linear forwards;
  }

  &__visibility-title-turk {
    animation: visible-title-turk 1s linear forwards 1s;
  }

  @keyframes hide-title-turk {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      transition: opacity 1s;
    }
  }

  @keyframes visible-title-turk {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
      transition: opacity 1s;
    }
  }

  &__title-rus {
    font: var(--font-hind-medium-xl);
    font-size: clamp(var(--font-size-l), 3vw, var(--font-hind-size-xl));
    color: var(--text-color-opacity-09);
    margin-top: 25vh;
    line-height: clamp(30px, 4vw, 48px);
    text-shadow: 1px 1px 2px #fff;
    opacity: 0;
    text-transform: uppercase;
    position: absolute;
    white-space: pre-wrap;
    margin-bottom: 0;
  }

  &__hidden-title-rus {
    animation: hide-title-ru 1s linear forwards;
  }

  &__visibility-title-rus {
    animation: visible-title-ru 1s linear forwards 1s;
  }

  @keyframes hide-title-ru {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      transition: opacity 1s;
    }
  }

  @keyframes visible-title-ru {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
      transition: opacity 1s;
    }
  }

  &__text {
    font: var(--font-montserrat-l);
    color: var(--text-color);
    font-size: clamp(var(--font-size-s), 2vw, var(--font-montserrat-size-l));
    width: clamp(185px, 50vw ,400px);
    line-height: clamp(20px, 2.5vw, 40px);
    font-weight: 100;
    white-space: break-spaces;
    margin-top: clamp(var(--gap-small), 5vw, var(--gap-medium));
  }

  &_loaded {
    animation: load 0.8s linear 1.5s 1 forwards;
  }

  @keyframes load {
    from {
      visibility: visible;
      margin-top: 25px;
      opacity: 0;
    }
  
    to {
      visibility: visible;
      opacity: 1;
    }
  }
}

.main-contacts {
  display: flex;
  align-items: center;
  margin-top: clamp(var(--gap-small), 4vw ,var(--gap-medium));

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    /* stylelint-disable-next-line color-function-notation */
    border: 1px solid rgba(0, 0, 0, 80%);
    border-radius: 50%;
    width: 55px;
    height: 55px;
    margin-right: var(--gap-tiny);

    &:hover {
      transform: scale(1.1);
      transition: transform 350ms;
    }
  }

  &__link-svg {
    fill: var(--text-color-opacity-08);
  }
}

@media (max-width: 850px) {
  .main-content {
    margin-left: 0;
  }

  .main-intro {
    /* stylelint-disable-next-line color-function-notation */
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 68%) 61.67%, rgba(255, 255, 255, 0%) 99.65%),
    url('/assets/pictures/mainPage-bg-m.jpg');
    background-position: 55%;
    height: 450px;
  }

  .main-content__title {
    font: var(--font-ibm-medium-xl);
    font-size: var(--font-size-l);
    margin-top: var(--gap-medium);
    padding: 0;
    line-height: normal;
    text-shadow: none;
  }

  .main-content__title-rus {
    margin-top: var(--gap-medium);
    text-shadow: none;
  }

  .main-content__subtitle {
    font: var(--font-montserrat-medium-m);
    font-weight: 500;
    letter-spacing: 0.42px;
    width: 160px;
    text-shadow: none;
    text-transform: none;
  }

  .main-content__text {
    letter-spacing: 0.14px;
    white-space: pre-line;
  }

  .main-contacts__link {
    border-color: var(--line-color);
  }

  .main-contacts__link-svg {
    fill: var(--line-color);
  }

  .main-arrow {
    display: none;
  }
}
