.main-intro {
  width: 100%;
  padding: 0;
  background: url('/assets/pictures/mainPage-bg-l.jpg') top center no-repeat;
  background-size: cover;
  transition: transform 2.5s;
  height: calc(100vh - var(--navbar-height));
  z-index: -1;
  position: relative;
  overflow-x: hidden;
  transform: scale(1.5);
  animation: zindex 100ms ease 2.5s forwards;

  @keyframes zindex {
    to {
      z-index: 0;
    }
  }

  &_loaded {
    transform: scale(1);
  }
}

.main-arrow {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: jump 0.8s ease 1.5s infinite alternate;

  &_loaded {
    opacity: 1;
    transition: opacity 1.5s 2.2s;
  }

  &__image {
    &:hover {
      opacity: 0.6;
      transition: opacity 350ms;
    }
  }
}

@keyframes jump {
  from {
    bottom: 15px;
  }

  to {
    bottom: 30px;
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  visibility: hidden;

  &__title {
    font: var(--font-ibm-medium-xl);
    color: rgb(0 0 0 / 90%);
    margin-top: 25vh;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px #fff;
    opacity: 0;
  }

  &__subtitle {
    font: var(--font-montserrat-bold-l);
    color: rgb(0 0 0 / 90%);
    margin-top: 20px;
    text-shadow: 1px 1px 2px #fff;
    opacity: 0;
    text-transform: uppercase;
  }

  &__hidden-title-turk {
    animation: hide-title-turk 1s linear forwards;
  }

  &__visibility-title-turk {
    animation: visible-title-turk 1s linear forwards 1s;
  }

  @keyframes hide-title-turk {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      transition: opacity 1s;
    }
  }

  @keyframes visible-title-turk {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
      transition: opacity 1s;
    }
  }

  &__title-rus {
    font: var(--font-hind-medium-xl);
    color: rgb(0 0 0 / 90%);
    margin-top: 25vh;
    line-height: var(--font-hind-line-xxl);
    text-shadow: 1px 1px 2px #fff;
    opacity: 0;
    text-transform: uppercase;
    position: absolute;
    white-space: pre-wrap;
  }

  &__hidden-title-rus {
    animation: hide-title-ru 1s linear forwards;
  }

  &__visibility-title-rus {
    animation: visible-title-ru 1s linear forwards 1s;
  }

  @keyframes hide-title-ru {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      transition: opacity 1s;
    }
  }

  @keyframes visible-title-ru {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
      transition: opacity 1s;
    }
  }

  &__text {
    font: var(--font-montserrat-l);
    width: 400px;
    line-height: 40px;
    font-weight: 100;
    white-space: break-spaces;
    margin: 0;
  }

  &_loaded {
    animation: load 0.8s linear 1.5s 1 forwards;
  }

  @keyframes load {
    from {
      visibility: visible;
      margin-top: 25px;
      opacity: 0;
    }
  
    to {
      visibility: visible;
      opacity: 1;
    }
  }
}

.main-contacts {
  display: flex;
  align-items: center;
  margin-top: 60px;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    /* stylelint-disable-next-line color-function-notation */
    border: 1px solid rgba(0, 0, 0, 80%);;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    margin-right: 10px;

    &:hover {
      transform: scale(1.1);
      transition: transform 350ms;
    }
  }
}

@media (width < 850px) {
  .main-intro {
    /* stylelint-disable-next-line color-function-notation */
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 68%) 61.67%, rgba(255, 255, 255, 0%) 99.65%),
    url('/assets/pictures/mainPage-bg-m.jpg');
    background-position: 55%;
    height: 450px;
  }

  .main-content__title {
    font: var(--font-ibm-medium-xl);
    font-size: 1.3rem;
    margin-top: 60px;
    margin-bottom: 0;
    padding: 0;
    line-height: normal;
    text-shadow: none;
  }

  .main-content__title-rus {
    font-size: 1.3rem;
    margin-top: 60px;
    text-shadow: none;
    line-height: 30px;
  }

  .main-content__subtitle {
    font: var(--font-montserrat-medium-m);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.42px;
    width: 140px;
    height: 40px;
    margin-top: 0;
    text-shadow: none;
    margin-bottom: 30px;
    text-transform: none;
  }

  .main-content__text {
    font-size: 0.9rem;
    line-height: 20px;
    letter-spacing: 0.14px;
    width: 185px;
    white-space: pre-line;
  }

  .main-contacts__link {
    border-color: #E8BD67;
    margin-bottom: 60px;
    fill: #E8BD67;
  }

  .main-arrow {
    display: none;
  }
}
