:root[data-page="footer-text-align-start"] {
  --footer-text-align: start;
  --footer-width-content: 100%;
}

:root[data-page="footer-text-align-center"] {
  --footer-text-align: center;
  --footer-width-content: 70%;

  @media (max-width: 1023px) {
    --footer-width-content: 100%;
  }
}

.footer {
  padding: calc(var(--gap-huge) - var(--gap-min)) 0;
  margin-left: var(--gap-min);

  &__box {
    display: flex;
    justify-content: var(--footer-text-align);
  }

  &__content {
    width: var(--footer-width-content);
  }

  &__designer {
    display: flex;
    gap: var(--gap-tiny);
    align-items: center;
    align-self: flex-start;
  }

  &__rights {
    display: flex;
    white-space: pre-wrap;
    color: var(--text-color-secondary);
    letter-spacing: var(--letter-spacing-014);
    line-height: var(--line-height-20);
    font-size: clamp(var(--font-size-xs), 2.5vw, var(--font-size-s));
  }

  &__designer-contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__text-developed {
    color: var(--text-color-secondary);
    letter-spacing: var(--letter-spacing-014);
    margin: 0;
    font-size: clamp(var(--font-size-xs), 2.5vw, var(--font-size-s));

  }
  
  &__link-developed {
    color: var(--text-color-secondary);
  }

  &__contact-developed {
    color: var(--text-color-secondary);
    font-weight: 600;
    letter-spacing: var(--letter-spacing-014);
    margin: 0;
    font-size: clamp(var(--font-size-xs), 2.5vw, var(--font-size-s));
  }
}

@media (max-width: 720px) {
  .footer {
    padding: var(--gap-min) 0;
  }

  .footer__rights {
    width: 100%;
  }
}
