.lang-switcher {
  display: flex;
  margin-left: var(--gap-big);
}

.lang-btn {
  font: var(--font-montserrat-medium-m);
  color: #65afc7;
  padding: 0;
  border: none;
  background: none;
  outline: none;

  &:hover {
    transform: perspective(10px) scale(1.1);
    transition: transform 300ms;
  }

  &:not(:last-child) {
    margin-right: 20px;
  }
}

@media (width < 1024px) {
  .lang-switcher {
    margin-left: 10px;
  }
}

@media (width < 720px) {
  .lang-btn {
    font-size: 14px;
  }
}
