.articles {
  background-color: var(--bg-secondary-color);
  padding: calc(var(--gap-huge) - var(--gap-min)) 0;

  &__title {
    text-transform: uppercase;
    font: var(--font-montserrat-medium-xl);
    font-size: clamp(20px, 3vw, 30px);
    margin-top: 0;
    margin-bottom: var(--gap-medium);
    display: flex;
    align-items: center;

    &::before {
      content: "";
      background: var(--line-color);
      width: clamp(2px, 0.5vw, 4px);
      height: clamp(30px, 10vw, 50px);
      position: relative;
      margin-right: var(--gap-small);
    }
  }
  
  &__slider {
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
    padding: 5px;
  }
}

@media (max-width: 1023px) {
  .articles{
    padding: var(--gap-medium) 0;
  }

  .articles__slider {
    align-items: center;
  }

  .articles__btn {
    border: none;
    outline: none;
    background-color: var(--bg-secondary-color);
    font-size: clamp(var(--font-size-s), 2.5vw, var(--font-size-m));
    color: var(--details-color);

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      transition: transform 100ms;
    }

    &::after {
      content: "";
      background-image: url('/assets/icons/arrow-show-more.svg');
      background-position: center;
      background-size: cover;
      position: absolute;
      width: clamp(16px, 2.5vw, 18px);
      height: clamp(16px, 2.5vw, 18px);
      margin-left: 5px;
      margin-top: 1px;
    }
  }
}
