.slide {
  flex: 1 0 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 514px;
  max-width: 400px;
  background-color: var(--bg-color-service-wrapper);
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  text-decoration: none;
  color: inherit;
  margin-bottom: 60px;

  &__image {
    width: 340px;
    height: 212.5px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    object-fit: cover;
    margin: 20px 30px;
  }

  &__title {
    font: var(--font-montserrat-medium-l);
    line-height: 28px;
    letter-spacing: 0.72px;
    margin: 0 30px;
  }

  &__date {
    margin: 0;
    margin-left: 30px;
    font: var(--font-montserrat-m);
    color: #A6A3A3;
  }

  &__text {
    margin: 0 30px;
    position: absolute;
    font: var(--font-montserrat-m);
    letter-spacing: 0.16px;
    font-weight: 100;
    color: #3C4452;
    bottom: 80px;
  }

  &__details {
    position:absolute;
    font: var(--font-montserrat-medium-m);
    letter-spacing: 0.48px;
    font-weight: 600;
    margin: 0;
    margin-left: 30px;
    bottom: 30px;
  }

  &:hover {
    box-shadow: 0 3px 12px 0 rgb(0 0 0 / 10%);
    transform: scale(1.01);
    transition: box-shadow 150ms, transform 350ms;
  }

  &:hover .slide__details {
    transform: scale(1.1);
    transition: transform 150ms;
  }
}
