.not-found {
  background-color: var(--bg-secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__404 {
    font: var(--font-hind-medium-xl);
    margin: 0;
    margin-bottom: var(--gap-normal);
    text-align: center;
  }

  &__message {
    margin: 0;
    margin-bottom: var(--gap-normal);
    color: var(--text-color-secondary);
    text-align: center;
  }

  &__link-main {
    margin: 0;
    margin-bottom: var(--gap-normal);
    color: var(--text-color);
    text-decoration: underline;
    text-underline-offset: 4px;

    &:hover {
      transform: scale(1.1);
      transition: transform 300ms;
    }
  }
}

@media (max-width: 620px) {
  .not-found__404 {
    font-size: var(--font-size-xl-32);
  }

  .not-found__message {
    font-size: var(--font-size-s);
  }
  
  .not-found__link-main {
    font-size: var(--font-size-s);
  }
}

@media (max-width: 480px) {
  .not-found__404 {
    font: var(--font-hind-medium-l);
  }

  .not-found__message {
    font-size: var(--font-size-xs);
  }
  
  .not-found__link-main {
    font-size: var(--font-size-xs);
  }
}
